<!DOCTYPE html>
<html>
<head>
	<title>Accueil</title>
</head>
<body>
	<h1>LinkedOn</h1>
    {% if username %}
		<h2> USER : {{ username }} </h2>
		<h2> EMAIL : {{ email }} </h2>
		<h2> PASSWORD : {{ password }} </h2>
	{% else %}
		<p>Vous pouvez vous connecter ou vous inscrire en cliquant sur les liens ci-dessous :</p>
		<ul>
			<li><a href="/login">Connexion</a></li>
			<li><a href="/register">Inscription</a></li>
		</ul>

		<br><br>

	{% endif %}
	<form method="post">
		<label>Nom d'utilisateur:</label><br>
		<input type="text" name="SearchUsername"><br>
		<input type="submit" value="Chercher">
	</form>
    {% if AllUsersFiltered %}
		<p> USER : {{ AllUsersFiltered }} </p>
	
	{% endif %}

</body>
</html>
